#Anti-Break-Block {

    position: absolute;
    font-size: 10%;
    top: 75%;
    left: 40%;
    display: flex;
    
    }

    #Anti-Break-Blocktxt {
        position: absolute;
        left: 40.5%;
        top: 66%;
        font-size: 300%;
        color:red;
        display: flex;
        
        }

        #java2 {

            position: absolute;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: blue;
            
            left: 38%;
            top: 99%;
            margin-right: 10px;
            
            }
