#Anti-Drop {

    position: absolute;
    font-size: 10px;
    top: 25%;
    left: 40%;
    
    }

    #Anti-Droptxt {
        position: absolute;
        left: 43%;
        top: 16%;
        font-size: 300%;
        color:red
        
        }

        #java1 {

            position: absolute;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: blue;
            font-size: 110%;
            left: 38%;
            top: 49%;
            
            }
            
            .Anti-Drop {

                animation-name: test;
                animation-duration: 3s;
                
                }