#Anti-Break-Block {

    position: absolute;
    font-size: 10px;
    top: 75%;
    left: 40%;
    
    }

    #Anti-Break-Blocktxt {
        position: absolute;
        left: 40.5%;
        top: 66%;
        font-size: 300%;
        color:red
        
        }

        #java2 {

            position: absolute;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: blue;
            font-size: 90%;
            left: 38%;
            top: 99%;
            
            }
            
            .Anti-Drop {

                animation-name: test;
                animation-duration: 3s;
                
                }